








body {
	margin-top: 50px;
}



.jumbotron img{
	width: 175px;
	border: 5px solid #666;
}

hr{
	width: 250px;
	border-top: 3px solid #999;
}



section {
	min-height: 400px;
}



.portfolio {
	background-color: #eee
}



footer{
	width: 100%
	min-height: 200px;
	background-color: #333;
}

footer p{
	color: #aaa;
	margin-top: 10px;
}





